# install in debian/ubuntu with:
#   sudo apt-get install direnv

# add this to the beginning of your .envrc file:
# # to check what gets loaded here, visit: https://github.com/xyder/dotfiles/blob/master/.envrc
# . ~/dotfiles/.envrc


# remember to run this after changing an .envrc file:
#   direnv allow .
# or
#   dea


# example path add:
#   PATH_add ./dir/with/commands

# example env:
#   export DJANGO_SETTINGS_MODULE=config.settings

# to use xargs -d on mac, install: brew install findutils
# example env from file (from https://stackoverflow.com/a/20909045 ):
#   export $(grep -v '^#' local.env | xargs -d '\n')

# example unset env:
#   unset $(grep -v '^#' .env | sed -E 's/(.*)=.*/\1/' | xargs)

# example layout:
#   layout python /path/to/python

# -----------------------------------------------------------------------------
# export helpers
xps () {
    set -a
    source <($@)
    set +a
}

xpns () {
    set -a
    source <(nxc $@)
    set +a
}

# don't use these. they tend to screw up quotes
xpx () {
    export $($@ | xargs -d '\n')
}

xpnx () {
    export $(nxc $@ | xargs -d '\n')
}
# -----------------------------------------------------------------------------

# legacy cleanup
alias_dir=$PWD/.direnv/aliases
rm -rf "$alias_dir"

# setup:
$(cd $HOME/dotfiles && poetry run which dc) build

PATH_add $HOME/dotfiles/.direnv/commands
PATH_add ./.direnv/commands


# -----------------------------------------------------------------------------

echo 'INFO: Run l! to list local commands or l.! to list all commands.'
