# install in debian/ubuntu with:
#   sudo apt-get install direnv

# add this to the beginning of your .envrc file:
# # to check what gets loaded here, visit: https://github.com/xyder/dotfiles/blob/master/.envrc
# . ~/dotfiles/.envrc


# remember to run this after changing an .envrc file:
#   direnv allow .
# or
#   dea


# example path add:
#   PATH_add ./dir/with/commands

# example env:
#   export DJANGO_SETTINGS_MODULE=config.settings

# to use xargs -d on mac, install: brew install findutils
# example env from file (from https://stackoverflow.com/a/20909045 ):
#   export $(grep -v '^#' local.env | xargs -d '\n')

# example unset env:
#   unset $(grep -v '^#' .env | sed -E 's/(.*)=.*/\1/' | xargs)

# example layout:
#   layout python /path/to/python

# to enable aliases hack, copy the following exactly:
# -----------------------------------------------------------------------------

# preparation for export_alias
alias_dir=$PWD/.direnv/aliases
rm -rf "$alias_dir"


# example: export_alias zz "ls -la"
export_alias() {
    # taken from: https://github.com/direnv/direnv/issues/73
    # comment: https://github.com/direnv/direnv/issues/73#issuecomment-343891007

    local name=$1
    shift

    # local alias_dir=$PWD/.direnv/aliases  # local version

    local target="$alias_dir/$name"

    mkdir -p "$alias_dir"
    PATH_add "$alias_dir"

    echo '#!/usr/bin/env zsh' > "$target"
    echo "$@" >> "$target"
    chmod +x "$target"
}

# global commands:
export_alias ls_cmds 'ls -1A ./.direnv/aliases'
export_alias run_cmd '$(ls_cmds | fzf)'

# -----------------------------------------------------------------------------
# export using:
#   export_alias test_de_2 "$inner"

read -r -d '' inner << EOM
inner() {
    echo 'test'
}
inner
EOM
# -----------------------------------------------------------------------------

# examples:
# export_alias test_de 'echo "direnv alias works!"'
# export_alias test_de_2 "$inner"
