# generated
vim/vim/.netrwhist
vim/spacevim_config/.netrwhist
wm/i3/config.save
utils/installer/dpkg.log

# virtualenvs
players/mpsyt/.venv
sys-venv/

# idea stuff
.idea/

# python stuff
*.py[co]

# vscode stuff
.devcontainer
.history
