[submodule "vim/plugins/Vundle.vim"]
	path = vim/plugins/Vundle.vim
	url = git://github.com/VundleVim/Vundle.vim
[submodule "vim/plugins/vim-colors-solarized"]
	path = vim/plugins/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "vim/plugins/vim-airline"]
	path = vim/plugins/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "vim/plugins/vim-airline-themes"]
	path = vim/plugins/vim-airline-themes
	url = git://github.com/vim-airline/vim-airline-themes
[submodule "vim/plugins/tcomment_vim"]
	path = vim/plugins/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim
[submodule "vim/plugins/vim-fugitive"]
	path = vim/plugins/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
